.desktop-1 {
    background-color: #151516;
    Width: 522px;
    Height: 811px;
    margin-top: 140px;
    margin-left: 138px;
    border-radius: 9px;
}

.title-section {
    Width: 474px;
    Height: 94px;
    border-radius: 6px;
    padding: 16px;

}

.title-section h2 {
    color: #FFFFFF;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    text-align: start;
    width: 148px;
}

.title-section input {
    Width: 474px;
    Height: 94px;
    border-radius: 6px;
    background-color: #48484F;
    border: 1px solid #272729;
    outline-style: none;
}

.sub-title-section {
    Width: 474px;
    Height: 118px;
    margin-top: 100px;
    padding: 16px;
}

.sub-title-section h2 {
    color: #FFFFFF;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    text-align: start;
    width: 180px;
}

.sub-title-section input {
    width: 472px;
    height: 80px;
    background-color: #48484F;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    border: 1px solid #272729;
    outline-style: none;
}

.loact-action-section {
    margin-top: 50px;
    width: 474px;
    height: 287px;
    border-radius: 9px;
    background-color: #39393D;
    margin-left: 17px;
    border: 1px solid gray;
    border-style: dashed;

}
